<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap-theme.min.css">
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/global.css">

	<title>Блог о собачках</title>
</head>
<body>
	<header>
		<nav>
			<ul class="nav navbar-nav">
				<li><a href="/catalog/pug.html">Мопсики</a></li>
				<li><a href="/catalog/labrador.html">Лабрадорчики</a></li>
				<li><a href="/catalog/sheepdog.html">Овчарочки</a></li>

				<li><h1><a href="/index.html">Собачки в наших сердечках</a></h1></li>

				<li><a href="/feedback.html">Написать на почту</a></li>
				<li><a href="http://twitter.com/blogsdogs"><img src="/img/social-twitter.png"></a></li>
				<li><a href="http://youtube.com/blogsdogs"><img src="/img/social-youtube.png"></a></li>
				<li><a href="http://instagram.com/blogsdogs"><img src="/img/social-instagram.png"></a></li>
				<li><a href="http://vk.com/blogsdogs"><img src="/img/social-vk.png"></a></li>
			</ul>
		</nav>
	</header>
	<hr>
	<br>
	<main>
		<section>
			<h3><a href="/catalog/pug.html">Мопсики</a></h3>
			<h2><a href="/catalog/pug/posts/post-1.html">Щенки мопса</a></h2>
			<figure class="figure-center">	
				<img class="img-rounded" src="/catalog/pug/img/pug-post-1-1.jpg" alt="Щенки мопса">
			</figure>
			<div class="container">
				<p>
					Вы решились приобрести себе маленького морщинистого друга? Тогда читайте рекомендации по выбору малыша и смело отправляйтесь в питомник. Щенки мопса как ухаживать за ними после покупки, так же об этом Вы узнаете из статьи.
				</p>	
				<p class="a-right">	
					<a href="/catalog/pug/posts/post-1.html">Подробнее</a>
				</p>
			</div>
		</section>
		<br>
		<hr class="hr-post">
		<section>
			<h3><a href="/catalog/labrador.html">Лабрадорчики</a></h3>
			<h2><a href="/catalog/labrador/posts/post-1.html">О лабрадорах</a></h2>
			<figure class="figure-center">	
				<img class="img-rounded" src="/catalog/labrador/img/labrador-post-1-1.jpg" alt="Щенки лабрадорчика">
			</figure>
			<div class="container">
				<p>
					Лабрадоры ретриверы надежные и терпеливые собаки. Больше всего они любят активность и внимание. Они всегда готовы к прогулке и бесконечной игре. Эти собаки просты в обучении. Они терпеливы и послушны по своей природе. Дома эти собаки с удовольствием играют с детьми и другими животными и любят участвовать в семейных мероприятиях.
					Лабрадоры, как правило, очень скучают, когда их оставляют дома в одиночестве на долгое время. Нерастраченная энергия и отсутствие достаточного количества внимания ведут к апатии и деструктивному поведению у собаки.
				</p>	
				<p class="a-right">	
					<a href="/catalog/labrador/posts/post-1.html">Подробнее</a>
				</p>
			</div>
		</section>
		<br>
		<hr class="hr-post">
		<section>
			<h3><a href="/catalog/pug.html">Мопсики</a></h3>
			<h2><a href="/catalog/pug/posts/post-2.html">Как кормить мопсов</a></h2>
			<figure class="figure-center">	
				<img class="img-rounded" src="/catalog/pug/img/pug-post-1-1.jpg" alt="мопсы">
			</figure>
			<div class="container">
				<p>
					Вы решились приобрести себе маленького морщинистого друга? Тогда читайте рекомендации по выбору малыша и смело отправляйтесь в питомник. Щенки мопса как ухаживать за ними после покупки, так же об этом Вы узнаете из статьи. Вы решились приобрести себе маленького морщинистого друга? Тогда читайте рекомендации по выбору малыша и смело отправляйтесь в питомник. Щенки мопса как ухаживать за ними после покупки, так же об этом Вы узнаете из статьи.
				</p>	
				<p class="a-right">	
					<a href="/catalog/pug/posts/post-2.html">Подробнее</a>
				</p>
			</div>
		</section>
		<br>
	<hr class="hr-footer">
	</main>
	<footer>
		<nav class=" container col-md-6 nav-footer-center">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/catalog/pug.html">Мопсики</a></li>
				<li><a href="/catalog/labrador.html">Лабрадорчики</a></li>
				<li><a href="/catalog/sheepdog.html">Овчарочки</a></li>
			</ul>
		</nav>
		<nav class=" container col-md-6 nav-footer-center">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/feedback.html"><img src="/img/social-mail.png"> <span class="mail-space"></span> Написать на почту </a></li>
				<div class="col-md-5">
					 <a href="http://twitter.com/blogsdogs"><img src="/img/social-twitter.png"><span class="space"></span>Twitter</a>
				</div>
				<div class="col-md-5">
					<a href="http://youtube.com/blogsdogs"><img src="/img/social-youtube.png"><span class="space"></span>YouTube</a>
				</div>
				<div class="col-md-5">
				<a href="http://instagram.com/blogsdogs"><img src="/img/social-instagram.png"><span class="space"></span>Instagram</a>
				</div>
				<div class="col-md-5">
				<a href="http://vk.com/blogsdogs"><img src="/img/social-vk.png"><span class="space"></span>VK</a> 
				</div>
			</ul>
		</nav>
	</footer>
</body>
</html>








