{% extends 'blog/base.html' %}

{% block title %}Доставлено!{% endblock %}

{% block content %}

    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title"></h2>
        </div>
    </div>

    <div class="panel-body">
        <div class="well well-lg" align="center">
            <h3>Ваша весточка доставлена!</h3>
            <div align="center">
                <a href="/">
                    <button type="button" class="btn btn-info">Домой</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}